<article>
  <section particles--load height="100%" width="100%" paddingbottom="2rem" minheight="600px" bgcolor="black">
    <div maxwidth="38rem" screen-xs="width:[65%]" screen-sm="width:[60%]" screen-md="width:[70%]" screen-xl="maxwidth:[45rem]" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center" align="center">
      <img align="center" height="auto" margin="0 auto" screen-xs="width:[60%]" screen-sm="width:[65%]" maxwidth="15rem" class="pulsate" src="assets/img/icon_black.svg">
      <h2 zoom="1.7" globalize-get="section1_title"></h2>
      <h6 globalize-get="section1_subtitle" lineheight="1.8" margintop="1rem" color="silver"></h6>
      <div margintop="2.5rem">
       <a href="./documentation" screen-xs="transform:[scale(1)]" screen-xl="transform:[scale(1.1)]" minwidth="9rem" minheight="2.7rem" radius="1rem" paddingleft="1.25rem"
          paddingright="1.25rem" lineheight="2.7" class="button bcwhite black"
          globalize="get_started" textsize="70%">Get started</a>
        <p margintop="2rem" class="w100" color="dimgray" zoom="0.7"><span globalize="current_version:">V</span><b metadata="version" setbefore="a"></b></p>
      </div>
    </div>
  </section>
  <hr color="dimgray" height="1px" padding="0" margin="0">
  <section height="100%" bgcolor="rgba(255,255,255,0.1)" width="100%" margin="0 auto">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section2_title"></h2>
      <h5 globalize-get="section2_subtitle"></h5>
    </div>
  </section>
  <section height="100%" bgcolor="rgba(255,255,255,0.2)">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section3_title"></h2>
      <h5 globalize-get="section3_subtitle"></h5>
    </div>
  </section>
  <section height="100%" bgcolor="rgba(255,255,255,0.3)">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section4_title"></h2>
      <h5 globalize-get="section4_subtitle"></h5>
    </div>
  </section>
  <section height="100%" bgcolor="white">
    100%
  </section>
</article>