<article>
  <section particles--load height="100%" width="100%" paddingbottom="2rem" minheight="600px" bgcolor="black">
    <div screen-xs="width:[65%]" screen-sm="width:[65%]" screen-md="width:[70%]" screen-xl="width:[70rem]" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center" align="center">
      <img align="center" height="auto" margin="0 auto" screen-xs="width:[60%]" screen-sm="width:[65%]" maxwidth="15rem" class="pulsate" src="assets/img/icon_black.svg">
      <h2 zoom="1.2" bold globalize-get="section1_title" lineheight="1.35"></h2>
      <h4 zoom="0.9" globalize-get="section1_subtitle" lineheight="1.7" margintop="1rem" color="silver"></h4>
      <div margintop="2.5rem">
        <a href="./documentation" screen-xs="transform:[scale(1)]" screen-xl="transform:[scale(1.1)]" minwidth="9rem" minheight="2.7rem" radius="1rem" paddingleft="1.25rem"
          paddingright="1.25rem" lineheight="2.7" class="button bcwhite black"
          globalize-get>Get Started</a>
        <small 
          justifycontent="center"
          fontsize="80%"
          paddingtop="1rem"
          paddingbottom="2rem"
          color="gray" 
          bindglobal="ma:frontVersion.major;mi:frontVersion.minor;pa:frontVersion.patch">v{ma}.{mi}.{pa}</small>
      </div>
    </div>
  </section>
  <section height="100%" bgcolor="rgba(255,255,255,0.1)" bgimage="assets/img/paradigm_n6th.svg 50% no-repeat center" width="100%" margin="0 auto">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section2_title" lineheight="2"></h2>
      <h5 globalize-get="section2_subtitle">...</h5>
    </div>
  </section>
  <section height="100%" bgcolor="rgba(255,255,255,0.2)">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section3_title" lineheight="2"></h2>
      <h5 globalize-get="section3_subtitle"></h5>
    </div>
  </section>
  <section height="100%" bgcolor="rgba(255,255,255,0.3)">
    <div width="80%" margin="0 auto" flex flexdirection="column" height="100%" justifycontent="center"
      alignitems="center">
      <h2 zoom="1.5" globalize-get="section4_title" lineheight="2"></h2>
      <h5 globalize-get="section4_subtitle"></h5>
    </div>
  </section>
  <section height="100%" bgcolor="white">
    100%
  </section>
</article>