<nav screen-xs="padding:[0px 1rem 0px 1rem]" screen-sm="padding:[0px 1.5rem 0px 1.5rem]"
  screen-md="padding:[0 2.5rem 0 2.5rem]" screen-lg="padding:[0px 2rem 0rem 2rem]" class="sidebar white-"
  bgcolor="black">
  <form form-filter="true">
    <div class="md_du">
      <a click="toggle" clicktargetfield="aside[0]" keyboard-key="m" keyboard-action="click" keyboard-scope="body"
        class="button pl1"><i class="icon32">&#171;</i></a>
      <hr>
      <input id="query2" class="bs1 p1 h3 bcblack w100" bindvar=":" type="text"
        placeholder="Search in documentation ..." autocomplete="off">
    </div>
    <details open="" paddingtop="2rem">
      <summary globalize-get="get_started" bold>Getting Started</summary>
      <a href="documentation" globalize-get="introduction">Introduction</a>
      <a href="documentation/installation" globalize-get="installation">Installation</a>
      <details>
        <summary globalize-get="fundamental">Fundamentals</summary>
        <a href="fundamentals/pages.html" globalize-get="pages">Pages</a>
        <a href="fundamentals/templates.html" globalize-get="templates">Templates</a>
        <a href="fundamental/modules.html" globalize-get="modules">Modules</a>
        <a href="fundamental/plugins.html" globalize-get="plugins">Plugins</a>
      </details>
    </details>
    <details>
      <summary globalize-get="references" bold>Reference</summary>
      <details>
        <summary globalize="installation">FTML</summary>
        <a href="documentation/reference/ftml" globalize="overview">Overview</a>
        <a href="documentation/reference/ftml/attributes.html" globalize="manual">Attributes</a>
      </details>
    </details>
  </form>
</nav>